* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    box-shadow: #080808;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 1s ease;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.container {

    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #007087;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    color: #00ffdd;
}

nav ul .fa-solid .fa-xmark {
    display: hidden;
}

.header-text {
    margin-top: 30px;
    font-size: 30px;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fedIn 1s ease;
}

/* animation: fedIn 1s ease; */
@keyframes fedIn{
    from{
        opacity: 30px;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.header-text img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid rgb(39, 168, 207);
    box-shadow: 0 0 25px rgb(12, 209, 186);
    transition: transform 1s ease;
}

.header-text img:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1:hover {
    color: #ff004f;
}

.header-text p {
    width: 380px;
}

.header-text p:hover {
    color: #ff004f;
}

.header-text h1 span {
    color: rgb(140, 200, 227);
}


/* <!-- -------------------------------about------------------------------- --> */

#about {
    align-items: center;
    height: 550px;
    /* border: 2px solid red; */
    /* margin-top: 10px; */
    padding: 80px 0;
    color: #fff;
    animation: fedIn 1s ease;
}
@keyframes fedIn{
    from{
        opacity: 30px;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1 {
    flex-basis: 35%;
    transition: transform 2s;
}

.about-col1:hover {
    transform: scale(1.02);
}

.about-col1 img {
    width: 100%;
    border-radius: 15px;
     border: 2px solid rgb(39, 168, 207);
    box-shadow: 0 0 25px rgb(12, 209, 186);
    cursor: pointer;
}

.about-col2 {
    flex-basis: 60%;
}

.about-col2 h6 {
    font-size: 20px;
}

.Sub-title {
    font-size: 40px;
    font-weight: 600;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    color: #2187b0;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #e9dee1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 2s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.tab-contents ul li span {
    color: rgb(126, 232, 222);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------------------Services------------------- */
#services {
    padding: 30px 30px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    border: 2px solid red;
    background: #262626;
     border: 2px solid rgb(39, 168, 207);
    box-shadow: 0 0 10px rgb(12, 209, 186);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    border: 2px solid black;
    background-color: #2187b0;
    transform: scale(1.05);
    color: #080808;
}


/* ------Portfolio------ */
#portfolio {
    /* border: 4px solid red; */
    padding: 50px 0px;

}

.work-list {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
     border: 2px solid rgb(39, 168, 207);
    box-shadow: 0 0 15px rgb(12, 209, 186);
    position: relative;
    overflow: hidden;
    /* border:2px solid  #fff; */
}

.work img {

    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.8s;
}

.layer {
    width: 100%;
    height: 0px;
    background: linear-gradient(rgba(42, 27, 27, 0.6), #a54563);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    /* color: #ff004f; */
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    transition: transform 1.4s;

}

.img-my-work {
    background-size: cover;
    /* background-position: bottom; */
}

.layer a:hover {
    transform: scale(1.1);
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    color: #000;
    background: #ff004f;
     /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0 0 30px rgb(228, 52, 52);

}

/* contect  */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: aliceblue;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: rgb(12, 209, 186);
    transform: translateY(5px);
     /* border: 2px solid rgb(39, 168, 207); */
     background: none;
    box-shadow: 0 0 25px rgb(12, 209, 186);
}

.btn .btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ff004f;


}

.copy-right {
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* ------------------CSS MEDIA QUERIES(Small Screen)--------------------- */
nav .fa-solid {
    display: none;
    /* ✅ Hide icons by default */
}

@media only screen and (max-width:600px) {
    .header-text {
        /* border: 2px solid red; */
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* margin-top: 100%; */
        font-size: 10px;
    }

    .h1-p {
        /* border: 2px solid red; */
        width: 350px;
        padding: 10px 20px;
        /* gap: 20px; */
    }
    
    .header-text h1 {
        /* border: 2px solid red; */
        font-size: 20px;
        width: 310px;
    }

    .header-text span {
        font-size: 30px;
        /* border: 2px solid red; */
        
    }

    .header-text p {
        width: 250px;
        font-size: 20px;
    }

    .header-text img {
        width: 230px;
        height: 250px;
        border-radius: 10%;
        border: 2px solid purple;
        
    }

    nav .fa-solid {
        display: block;
        /* ✅ Show only on small devices */
        font-size: 25px;
    }

    nav ul {
        background: #e86a92;
        position: fixed;
        top: 0;

        right: -200px;
        width: 200px;
        height: 40vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ease;
    }

    nav ul li {
        display: block;
        margin: 25px;

    }

    nav ul .fa-solid {
        position: absolute;
        top: 5px;
        left: 5px;
        border: 2px solid rgb(0, 0, 0);
        cursor: pointer;
    }

    #about {
        height: auto;
        padding: 0px;
        /* border: 2px solid red; */
    }

    .about-col2 h6 {
        font-size: 15px;
    }

    .about-col2 h1 {
        width: 200px;
        color: #00ffdd;
        /* border: 2px solid white; */
    }

    .about-col2 h1:hover {
        color: #e35784;
    }

    .about-col1 img {
        /* width: 150px; */

    }
    .work-list{
        height: auto;
    }
    .work{
        /* max-height: 30vh; */
        border: 2px solid red;
    }
    .work img{
        height: 40vh;
        object-fit:fill;
    }
    .contact-right{
        /* margin: auto; */
        /* padding: 10px 10px; */
        /* padding: 20px 30px; */
        /* border: 2px solid red; */
    }
    .contact-right input{
            width: 250px;
    }

}

/* --------------------------------------[ */

/* Submit Success Message */
/* #msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    
} */